/**
 * Style for my portfolio.
 * Author: Ryan Jacobs <ryan.mjacobs@gmail.com>
 */

@import "style.scss";

$arrows-height: 60%;

/**
 * THREE MAIN SECTIONS
 */
#about, #work-and-contact {
    @extend .section;

    // section headers
    h1 {
        text-align: left;
        font-size: 2.5em;
        margin-bottom: 0px;
    }
    a span {
        line-height: 1em;
    }

    position: relative;
    overflow: hidden;

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#work-and-contact {
    opacity: 0;
    display: none;

    p {
        line-height: 150%;
    }
}

/**
 * NAVIGATION ARROWS
 */
#left-arrow, #right-arrow {
    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid dimgray;

    position: absolute;
    top: $arrows-height;
    left: 20%;

    &:hover { cursor: pointer; }
}
#right-arrow {
    border-right: none;
    border-left: 15px solid dimgray;

    position: absolute;
    top: $arrows-height;
    left: 80%;

    &:hover { cursor: pointer; }
}
