/**
 * Style for my portfolio.
 * Author: Ryan Jacobs <ryan.mjacobs@gmail.com>
 */

@import "style.scss";

// three main sections
.about, .work, .contact {
    @extend .section;

    // section headers
    h1 {
        font-weight: normal;
        text-align: left;
        padding-bottom: 10px;
    }
    a span {
        line-height: 1em;
    }
}
